USE [QuanLyCuaHangGiay_ToiUu]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaCC] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NOT NULL,
	[NgayLam] [date] NOT NULL,
	[GioCheckIn] [datetime] NULL,
	[GioCheckOut] [datetime] NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_ChamCong] PRIMARY KEY CLUSTERED 
(
	[MaCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaCTSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[GiaVon] [decimal](18, 2) NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
	[GiamGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaCTPN] [int] IDENTITY(1,1) NOT NULL,
	[MaPN] [int] NOT NULL,
	[MaCTSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSanPham]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSanPham](
	[MaCTSP] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[MaSize] [int] NOT NULL,
	[MaMau] [int] NOT NULL,
	[MaSKU] [varchar](100) NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NULL,
	[TrangThai] [bit] NULL,
	[HinhAnhChung] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [varchar](50) NOT NULL,
	[NgayLap] [datetime] NULL,
	[MaNV] [int] NOT NULL,
	[MaKH] [int] NULL,
	[MaKM] [int] NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[GiamGia] [decimal](18, 2) NULL,
	[ThanhToan] [decimal](18, 2) NOT NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[TienKhachTra] [decimal](18, 2) NULL,
	[TienThua] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[DiemTichLuy] [int] NULL,
	[HangThanhVien] [nvarchar](20) NULL,
	[TongChiTieu] [decimal](18, 2) NULL,
	[TrangThai] [bit] NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[TenKM] [nvarchar](200) NOT NULL,
	[LoaiKM] [nvarchar](50) NULL,
	[GiaTri] [decimal](18, 2) NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[DieuKien] [nvarchar](500) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGiay]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGiay](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoHang]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoHang](
	[MaLoHang] [int] IDENTITY(1,1) NOT NULL,
	[MaCTSP] [int] NOT NULL,
	[MaPN] [int] NULL,
	[MaCTPN] [int] NULL,
	[SoLuongBanDau] [int] NOT NULL,
	[SoLuongConLai] [int] NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[MaMau] [int] IDENTITY(1,1) NOT NULL,
	[TenMau] [nvarchar](50) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[IsAdmin] [bit] NULL,
	[TrangThai] [bit] NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[NgayVaoLam] [date] NULL,
	[AnhDaiDien] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuNhap] [varchar](50) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[MaNV] [int] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaNCC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenGiay] [nvarchar](200) NOT NULL,
	[MaLoai] [int] NOT NULL,
	[MaThuongHieu] [int] NOT NULL,
	[MoTa] [nvarchar](1000) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SizeGiay]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SizeGiay](
	[MaSize] [int] IDENTITY(1,1) NOT NULL,
	[KichCo] [varchar](10) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 01/12/2025 9:15:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[MaThuongHieu] [int] IDENTITY(1,1) NOT NULL,
	[TenThuongHieu] [nvarchar](100) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChamCong] ON 

INSERT [dbo].[ChamCong] ([MaCC], [MaNV], [NgayLam], [GioCheckIn], [GioCheckOut], [NgayTao]) VALUES (1, 1, CAST(N'2025-11-30' AS Date), CAST(N'2025-11-30T14:18:26.933' AS DateTime), CAST(N'2025-11-30T14:18:54.443' AS DateTime), CAST(N'2025-11-30T14:18:26.947' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChamCong] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaCTSP], [SoLuong], [DonGia], [GiaVon], [ThanhTien], [GiamGia]) VALUES (1, 1, 1, 1, CAST(2200000.00 AS Decimal(18, 2)), CAST(1500000.00 AS Decimal(18, 2)), CAST(2200000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaCTSP], [SoLuong], [DonGia], [GiaVon], [ThanhTien], [GiamGia]) VALUES (2, 2, 2, 12, CAST(2200000.00 AS Decimal(18, 2)), CAST(1500000.00 AS Decimal(18, 2)), CAST(26400000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaCTSP], [SoLuong], [DonGia], [GiaVon], [ThanhTien], [GiamGia]) VALUES (3, 3, 1, 1, CAST(2200000.00 AS Decimal(18, 2)), CAST(1500000.00 AS Decimal(18, 2)), CAST(2200000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] ON 

INSERT [dbo].[ChiTietPhieuNhap] ([MaCTPN], [MaPN], [MaCTSP], [SoLuong], [GiaNhap], [ThanhTien]) VALUES (1, 1, 1, 30, CAST(10.00 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([MaCTPN], [MaPN], [MaCTSP], [SoLuong], [GiaNhap], [ThanhTien]) VALUES (2, 2, 1, 100, CAST(25.00 AS Decimal(18, 2)), CAST(2500.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([MaCTPN], [MaPN], [MaCTSP], [SoLuong], [GiaNhap], [ThanhTien]) VALUES (3, 3, 1, 5, CAST(500000.00 AS Decimal(18, 2)), CAST(2500000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietSanPham] ON 

INSERT [dbo].[ChiTietSanPham] ([MaCTSP], [MaSP], [MaSize], [MaMau], [MaSKU], [GiaNhap], [GiaBan], [SoLuongTon], [TrangThai], [HinhAnhChung]) VALUES (1, 1, 1, 2, N'NK-AF1-40-WHT', CAST(2200000.00 AS Decimal(18, 2)), CAST(2200000.00 AS Decimal(18, 2)), 220, 1, N'Resources\Images\Products\nike\nike13.png')
INSERT [dbo].[ChiTietSanPham] ([MaCTSP], [MaSP], [MaSize], [MaMau], [MaSKU], [GiaNhap], [GiaBan], [SoLuongTon], [TrangThai], [HinhAnhChung]) VALUES (2, 1, 2, 1, N'NK-AF1-41-BLK', CAST(1500000.00 AS Decimal(18, 2)), CAST(2200000.00 AS Decimal(18, 2)), 9, 0, N'Resources\Images\Products\nike\nike14.png')
INSERT [dbo].[ChiTietSanPham] ([MaCTSP], [MaSP], [MaSize], [MaMau], [MaSKU], [GiaNhap], [GiaBan], [SoLuongTon], [TrangThai], [HinhAnhChung]) VALUES (3, 1, 1, 1, N'NK-AF1-40-BLK', CAST(1500000.00 AS Decimal(18, 2)), CAST(2200000.00 AS Decimal(18, 2)), 19, 1, N'Resources\Images\Products\nike\nike14.png')
SET IDENTITY_INSERT [dbo].[ChiTietSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaHoaDon], [NgayLap], [MaNV], [MaKH], [MaKM], [TongTien], [GiamGia], [ThanhToan], [PhuongThucThanhToan], [TrangThai], [TienKhachTra], [TienThua]) VALUES (1, N'HD20251116001', CAST(N'2025-11-17T00:43:53.300' AS DateTime), 2, 1, 1, CAST(2200000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), CAST(2100000.00 AS Decimal(18, 2)), N'Tiền mặt', N'Hoàn thành', CAST(2100000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDon] ([MaHD], [MaHoaDon], [NgayLap], [MaNV], [MaKH], [MaKM], [TongTien], [GiamGia], [ThanhToan], [PhuongThucThanhToan], [TrangThai], [TienKhachTra], [TienThua]) VALUES (2, N'HD20251119233323', CAST(N'2025-11-19T23:33:23.640' AS DateTime), 1, 1, 1, CAST(26400000.00 AS Decimal(18, 2)), CAST(2640000.00 AS Decimal(18, 2)), CAST(23760000.00 AS Decimal(18, 2)), N'Tiền mặt', N'Hoàn thành', CAST(23760000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDon] ([MaHD], [MaHoaDon], [NgayLap], [MaNV], [MaKH], [MaKM], [TongTien], [GiamGia], [ThanhToan], [PhuongThucThanhToan], [TrangThai], [TienKhachTra], [TienThua]) VALUES (3, N'HD20251120134819', CAST(N'2025-11-20T13:48:19.953' AS DateTime), 1, 2, 1, CAST(2200000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(2200000.00 AS Decimal(18, 2)), N'Tiền mặt', N'Hoàn thành', CAST(2200000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SoDienThoai], [DiemTichLuy], [HangThanhVien], [TongChiTieu], [TrangThai], [Email], [DiaChi]) VALUES (1, N'Nguyễn Thị Hoa', N'0911111111', 3004, N'Kim cương', CAST(545686000.00 AS Decimal(18, 2)), 1, NULL, NULL)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SoDienThoai], [DiemTichLuy], [HangThanhVien], [TongChiTieu], [TrangThai], [Email], [DiaChi]) VALUES (2, N'Phạm Việt Tùng', N'9012032013', 4356, N'Kim cương', CAST(45606000.00 AS Decimal(18, 2)), 1, NULL, N'so 1 cau giay')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SoDienThoai], [DiemTichLuy], [HangThanhVien], [TongChiTieu], [TrangThai], [Email], [DiaChi]) VALUES (4, N'hung anh', N'1292139', 440, N'Bạc', CAST(8800000.00 AS Decimal(18, 2)), 1, NULL, N'')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [LoaiKM], [GiaTri], [NgayBatDau], [NgayKetThuc], [DieuKien], [TrangThai]) VALUES (1, N'Giảm 100k', N'Giảm tiền', CAST(100000.00 AS Decimal(18, 2)), CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date), N'Đơn hàng > 2 triệu', 1)
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiGiay] ON 

INSERT [dbo].[LoaiGiay] ([MaLoai], [TenLoai], [TrangThai]) VALUES (1, N'Sneaker', 1)
INSERT [dbo].[LoaiGiay] ([MaLoai], [TenLoai], [TrangThai]) VALUES (2, N'Boot', 1)
INSERT [dbo].[LoaiGiay] ([MaLoai], [TenLoai], [TrangThai]) VALUES (3, N'Giày lười', 1)
SET IDENTITY_INSERT [dbo].[LoaiGiay] OFF
GO
SET IDENTITY_INSERT [dbo].[LoHang] ON 

INSERT [dbo].[LoHang] ([MaLoHang], [MaCTSP], [MaPN], [MaCTPN], [SoLuongBanDau], [SoLuongConLai], [GiaNhap], [NgayNhap], [TrangThai]) VALUES (1, 1, 1, 1, 30, -3, CAST(10.00 AS Decimal(18, 2)), CAST(N'2025-11-19T21:32:35.380' AS DateTime), 0)
INSERT [dbo].[LoHang] ([MaLoHang], [MaCTSP], [MaPN], [MaCTPN], [SoLuongBanDau], [SoLuongConLai], [GiaNhap], [NgayNhap], [TrangThai]) VALUES (2, 1, 2, 2, 100, 0, CAST(25.00 AS Decimal(18, 2)), CAST(N'2025-11-19T21:42:50.193' AS DateTime), 0)
INSERT [dbo].[LoHang] ([MaLoHang], [MaCTSP], [MaPN], [MaCTPN], [SoLuongBanDau], [SoLuongConLai], [GiaNhap], [NgayNhap], [TrangThai]) VALUES (3, 1, 3, 3, 5, -28, CAST(500000.00 AS Decimal(18, 2)), CAST(N'2025-11-19T23:36:35.080' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[LoHang] OFF
GO
SET IDENTITY_INSERT [dbo].[MauSac] ON 

INSERT [dbo].[MauSac] ([MaMau], [TenMau], [TrangThai]) VALUES (1, N'Đen', 1)
INSERT [dbo].[MauSac] ([MaMau], [TenMau], [TrangThai]) VALUES (2, N'Trắng', 1)
INSERT [dbo].[MauSac] ([MaMau], [TenMau], [TrangThai]) VALUES (3, N'Đỏ', 1)
SET IDENTITY_INSERT [dbo].[MauSac] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [TrangThai]) VALUES (1, N'Nhà cung cấp A', N'123 Đường A, TP HCM', N'0912345678', 1)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [TrangThai]) VALUES (2, N'Nhà cung cấp B', N'456 Đường B, Hà Nội', N'0987654321', 1)
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [TaiKhoan], [MatKhau], [IsAdmin], [TrangThai], [SoDienThoai], [Email], [DiaChi], [NgayVaoLam], [AnhDaiDien]) VALUES (1, N'Admin', N'admin', N'admindz', 1, 1, N'0976457658', N'dz@gmail.com', N'3d18', NULL, N'Resources\Images\Avatar\avtAdmin.png')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [TaiKhoan], [MatKhau], [IsAdmin], [TrangThai], [SoDienThoai], [Email], [DiaChi], [NgayVaoLam], [AnhDaiDien]) VALUES (2, N'Bùi Hùng Anh', N'thungan1', N'123', 0, 1, N'0976457658', N'buihunganh2k5@gmail.com', N'', CAST(N'2025-11-17' AS Date), N'Resources\Images\Avatar\avtBùi Hùng Anh.png')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [TaiKhoan], [MatKhau], [IsAdmin], [TrangThai], [SoDienThoai], [Email], [DiaChi], [NgayVaoLam], [AnhDaiDien]) VALUES (3, N'ad', N'ad', N'ad', 0, 0, N'0976457658', N'ad@gmail.com', N'ad', CAST(N'2025-11-20' AS Date), N'Resources\Images\Avatar\avtad.png')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhap] ON 

INSERT [dbo].[PhieuNhap] ([MaPN], [MaPhieuNhap], [NgayNhap], [MaNV], [TongTien], [GhiChu], [TrangThai], [MaNCC]) VALUES (1, N'PN20251119213235', CAST(N'2025-11-19T21:32:35.380' AS DateTime), 1, CAST(300.00 AS Decimal(18, 2)), NULL, N'Đã nhập', 1)
INSERT [dbo].[PhieuNhap] ([MaPN], [MaPhieuNhap], [NgayNhap], [MaNV], [TongTien], [GhiChu], [TrangThai], [MaNCC]) VALUES (2, N'PN20251119214250', CAST(N'2025-11-19T21:42:50.193' AS DateTime), 1, CAST(2500.00 AS Decimal(18, 2)), NULL, N'Đã nhập', 1)
INSERT [dbo].[PhieuNhap] ([MaPN], [MaPhieuNhap], [NgayNhap], [MaNV], [TongTien], [GhiChu], [TrangThai], [MaNCC]) VALUES (3, N'PN20251119233635', CAST(N'2025-11-19T23:36:35.080' AS DateTime), 1, CAST(2500000.00 AS Decimal(18, 2)), NULL, N'Đã nhập', 1)
SET IDENTITY_INSERT [dbo].[PhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenGiay], [MaLoai], [MaThuongHieu], [MoTa], [TrangThai]) VALUES (1, N'Nike Air Force 1', 1, 1, NULL, 1)
INSERT [dbo].[SanPham] ([MaSP], [TenGiay], [MaLoai], [MaThuongHieu], [MoTa], [TrangThai]) VALUES (7, N'Balenciaga Triple S Clear Sole', 1, 6, NULL, 1)
INSERT [dbo].[SanPham] ([MaSP], [TenGiay], [MaLoai], [MaThuongHieu], [MoTa], [TrangThai]) VALUES (13, N'Balenciaga Hung Anh', 2, 1, N'', 1)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[SizeGiay] ON 

INSERT [dbo].[SizeGiay] ([MaSize], [KichCo], [TrangThai]) VALUES (1, N'40', 1)
INSERT [dbo].[SizeGiay] ([MaSize], [KichCo], [TrangThai]) VALUES (2, N'41', 1)
INSERT [dbo].[SizeGiay] ([MaSize], [KichCo], [TrangThai]) VALUES (3, N'39', 1)
SET IDENTITY_INSERT [dbo].[SizeGiay] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuongHieu] ON 

INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [TenThuongHieu], [TrangThai]) VALUES (1, N'Nike', 1)
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [TenThuongHieu], [TrangThai]) VALUES (2, N'Adidas', 1)
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [TenThuongHieu], [TrangThai]) VALUES (3, N'Puma', 1)
SET IDENTITY_INSERT [dbo].[ThuongHieu] OFF
GO
/****** Object:  Index [UQ_ChamCong_NhanVien_NgayLam]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[ChamCong] ADD  CONSTRAINT [UQ_ChamCong_NhanVien_NgayLam] UNIQUE NONCLUSTERED 
(
	[MaNV] ASC,
	[NgayLam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChiTietS__318FCC491E71BB85]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[ChiTietSanPham] ADD UNIQUE NONCLUSTERED 
(
	[MaSKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChiTietS__318FCC49CF182A55]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[ChiTietSanPham] ADD UNIQUE NONCLUSTERED 
(
	[MaSKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SanPham_BienThe]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[ChiTietSanPham] ADD  CONSTRAINT [UQ_SanPham_BienThe] UNIQUE NONCLUSTERED 
(
	[MaSP] ASC,
	[MaSize] ASC,
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HoaDon__835ED13A4FC05A22]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[HoaDon] ADD UNIQUE NONCLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HoaDon__835ED13A73324C63]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[HoaDon] ADD UNIQUE NONCLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__0389B7BDA38A0A0C]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__0389B7BDCADCE4BF]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__D5B8C7F08B2D87AB]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__D5B8C7F09BE6DC26]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhieuNha__1470EF3A089FEA99]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[PhieuNhap] ADD UNIQUE NONCLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhieuNha__1470EF3AA8DAC216]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[PhieuNhap] ADD UNIQUE NONCLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SizeGiay__E377A0440E7B6AF0]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[SizeGiay] ADD UNIQUE NONCLUSTERED 
(
	[KichCo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SizeGiay__E377A044C0403FB9]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[SizeGiay] ADD UNIQUE NONCLUSTERED 
(
	[KichCo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ThuongHi__98D6A8345D9FB369]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[ThuongHieu] ADD UNIQUE NONCLUSTERED 
(
	[TenThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ThuongHi__98D6A834F0E64AF7]    Script Date: 01/12/2025 9:15:58 SA ******/
ALTER TABLE [dbo].[ThuongHieu] ADD UNIQUE NONCLUSTERED 
(
	[TenThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChamCong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[ChiTietSanPham] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[ChiTietSanPham] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Tiền mặt') FOR [PhuongThucThanhToan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Hoàn thành') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (N'Bạc') FOR [HangThanhVien]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [TongChiTieu]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[LoaiGiay] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[LoHang] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[MauSac] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (getdate()) FOR [NgayVaoLam]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (N'Đã nhập') FOR [TrangThai]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[SizeGiay] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThuongHieu] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaCTSP])
REFERENCES [dbo].[ChiTietSanPham] ([MaCTSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaCTSP])
REFERENCES [dbo].[ChiTietSanPham] ([MaCTSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaCTSP])
REFERENCES [dbo].[ChiTietSanPham] ([MaCTSP])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaCTSP])
REFERENCES [dbo].[ChiTietSanPham] ([MaCTSP])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD FOREIGN KEY([MaMau])
REFERENCES [dbo].[MauSac] ([MaMau])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD FOREIGN KEY([MaMau])
REFERENCES [dbo].[MauSac] ([MaMau])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD FOREIGN KEY([MaSize])
REFERENCES [dbo].[SizeGiay] ([MaSize])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD FOREIGN KEY([MaSize])
REFERENCES [dbo].[SizeGiay] ([MaSize])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LoHang]  WITH CHECK ADD  CONSTRAINT [FK_LoHang_ChiTietSanPham] FOREIGN KEY([MaCTSP])
REFERENCES [dbo].[ChiTietSanPham] ([MaCTSP])
GO
ALTER TABLE [dbo].[LoHang] CHECK CONSTRAINT [FK_LoHang_ChiTietSanPham]
GO
ALTER TABLE [dbo].[LoHang]  WITH CHECK ADD  CONSTRAINT [FK_LoHang_PhieuNhap] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[LoHang] CHECK CONSTRAINT [FK_LoHang_PhieuNhap]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiGiay] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiGiay] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaThuongHieu])
REFERENCES [dbo].[ThuongHieu] ([MaThuongHieu])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaThuongHieu])
REFERENCES [dbo].[ThuongHieu] ([MaThuongHieu])
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [CK_GiaBan_LonHon_GiaNhap] CHECK  (([GiaBan]>=[GiaNhap]))
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [CK_GiaBan_LonHon_GiaNhap]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [CK_SoLuongTon_KhongAm] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [CK_SoLuongTon_KhongAm]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bảng lưu trữ thông tin chấm công check in/out của nhân viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ChamCong'
GO
